---
layout: home # Menggunakan layout yang sesuai
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="E-CWiRntPMXFYasLdqHw-QI9miQb3XNckb81Kr66q2g"
    />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>HMTI News</title>
    <meta
      name="description"
      content="Himpunan Mahasiswa Teknologi Informasi (HMTI) adalah wadah aspirasi dan pelayanan bagi mahasiswa Jurusan Teknologi Informasi."
    />
    <meta
      name="keywords"
      content="HMTI DPC Kaliabang, HMTI Kaliabang, DPC Kaliabang, News HMTI DPC Kaliabang"
    />

    <!-- Favicons -->
    <link href="/assets/logo-himpunan.png" rel="icon" />
    <link href="/assets/logo-himpunan.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet" />
  </head>
  <body class="index-page">
    <header
      id="header"
      class="header d-flex align-items-center fixed-top"
      style="background-color: rgb(40, 58, 90)"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="/assets/logo-himpunan.png" alt="Logo HMTI" />
          <h1 class="sitename">HMTI</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="#about">Tentang</a></li>
            <li><a href="/404.html">Portfolio</a></li>
            <li><a href="#divisi">Divisi</a></li>
            <li><a href="#team">Tim Kami</a></li>
            <li><a href="#contact">Bengkel IT</a></li>
            <li><a href="/news">Berita</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    <main class="main">
      <!-- News Section -->
      <section class="content-article">
        <div class="container">
          <h3>Latest News</h3>
          <div class="row">
            {% for post in site.posts %}
            <div class="col-md-6">
              <div class="news-card">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <p>Tanggal: {{ post.date | date: "%d %B %Y" }}</p>
                <p>{{ post.excerpt }}</p>
                <a href="{{ post.url }}" class="read-more">Baca Selengkapnya</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="news-card">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <p>Tanggal: {{ post.date | date: "%d %B %Y" }}</p>
                <p>{{ post.excerpt }}</p>
                <a href="{{ post.url }}" class="read-more">Baca Selengkapnya</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- /News Section -->
    </main>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
    >
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/typeitjs/typeitjs.js"></script>

    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/bengkel-it.js"></script>
  </body>
</html>
