<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- GOOGLE -->
    <meta
      name="google-site-verification"
      content="E-CWiRntPMXFYasLdqHw-QI9miQb3XNckb81Kr66q2g"
    />

    <!-- BING MICROSOFT -->
    <meta name="msvalidate.01" content="A4D71A0E2279EF48E367C88291D2E238" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Join HMTI</title>
    <meta
      name="description"
      content="Himpunan Mahasiswa Teknologi Informasi (HMTI) adalah wadah
                aspirasi dan pelayanan bagi mahasiswa Jurusan Teknologi
                Informasi."
    />
    <meta
      name="keywords"
      content="HMTI DPC Kaliabang, HMTI Kaliabang, DPC Kaliabang, Join HMTI Kaliabang, Join HMTI"
    />

    <!-- Favicons -->
    <link href="{{ site.baseurl }}/assets/logo-himpunan.png" rel="icon" />
    <link href="{{ site.baseurl }}/assets/logo-himpunan.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ site.baseurl }}/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="{{ site.baseurl }}/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="{{ site.baseurl }}/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top" style="background: rgb(40, 58, 90);">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="{{ site.baseurl }}/assets/logo-himpunan.png" alt="Logo HMTI" />
          <h1 class="sitename">HMTI</h1>
          <br />
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="/#about">Tentang</a></li>
            <li><a href="/#divisi">Divisi</a></li>
            <li><a href="/#team">Tim Kami</a></li>
            <li><a href="/#bengkel-it">Bengkel IT</a></li>
            <li><a href="/join/" class="active">Join HMTI</a></li>
            <li><a href="/news/">Berita</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>
    <main class="main">
      <!-- Join Section -->
      <section class="contact section" style="padding-top: 10rem;">
        <div class="container section-title" data-aos="fade-up">
          <h2>Join HMTI Yuk!</h2>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div class="col-lg-12">
              <!-- <form
                action="https://docs.google.com/forms/d/e/1FAIpQLSd7fP-ryRCaiPomPZyEJYLoTVRwRQmoAPfj4FADDKYimQT4gA/formResponse"
                method="POST"
                target="_self"
                class="php-email-form"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <label for="name-field" class="pb-2">Nama Lengkap:</label>
                    <input
                      type="text"
                      name="entry.2005620554" 
                      id="name-field"
                      class="form-control"
                      required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="nim-field" class="pb-2">NIM:</label>
                    <input
                      type="text"
                      name="entry.1045781291"
                      id="nim-field"
                      class="form-control"
                      required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="email-field" class="pb-2">Email:</label>
                    <input
                      type="email"
                      name="entry.1166974658"
                      id="email-field"
                      class="form-control"
                      required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="telp-field" class="pb-2">No Whatsapp Aktif:</label>
                    <input
                      type="number"
                      name="entry.839337160" 
                      id="telp-field"
                      class="form-control"
                      required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="divisi-field" class="pb-2">Divisi yang Diminati:</label>
                    <select
                      name="entry.1234567890"
                      id="divisi-field"
                      class="form-control"
                      required=""
                    >
                      <option value="" disabled selected>Pilih Divisi</option>
                      <option value="PSDM">PSDM</option>
                      <option value="Kominfo">Kominfo</option>
                      <option value="Litbang">Litbang</option>
                    </select>
                  </div>

                  <div class="col-md-12">
                    <label for="message-field" class="pb-2">Alasan Bergabung dengan HMTI:</label>
                    <textarea
                      class="form-control"
                      name="entry.9876543210" 
                      rows="10"
                      id="message-field"
                      required=""
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>

                    <button type="submit">Send Message</button>
                  </div>
                </div>
              </form> -->
                
              <div class="container" id="ff-compose"></div>
              <script async defer src="https://formfacade.com/include/106649255573840339055/form/1FAIpQLSd7fP-ryRCaiPomPZyEJYLoTVRwRQmoAPfj4FADDKYimQT4gA/bootstrap.js?div=ff-compose"></script>
            </div>
          </div>
        </div>
      </section>
      <!-- /Join Section -->
    </main>

    <!-- <footer id="footer" class="footer">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="/" class="d-flex align-items-center">
              <img src="/assets/logo-himpunan.png" alt="Logo HMTI" height="80" />
              <span class="ms-4 sitename">HMTI</span>
            </a>
            <div class="footer-contact mt-5">
              <p>Jl. Raya Kaliabang N0.8 Perwira Bekasi Utara 17142 Bekasi</p>
              <p>West Java, Indonesia West Java</p>
              <p class="mt-3">
                <strong>Telp:</strong> <span>+62 21 88985633</span>
              </p>
              <p>
                <strong>Email:</strong>
                <span>hmti.kaliabang@gmail.com</span>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-12 mt-5">
            <h4>About:</h4>
            <div class="footer-links d-flex flex-column">
              <a href="https://www.bsi.ac.id/indexkoe_yht.php" target="_blank"
                >BSI Universitas</a
              >
              <a
                href="https://pusatinformasi.kampusmerdeka.kemdikbud.go.id/hc/id"
                target="_blank"
                >Kampus Merdeka</a
              >
            </div>
          </div>

          <div class="col-lg-2 col-md-12 mt-5">
            <h4>Follow Us:</h4>
            <div class="social-links d-flex">
              <a href=""><i class="bi bi-whatsapp"></i></a>
              <a href="https://www.instagram.com/hmti.kaliabang/"
                ><i class="bi bi-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">HMTI DPC Kaliabang</strong>
          <span>All Rights Reserved</span>
        </p>
      </div>
    </footer> -->

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- Vendor JS Files -->
    <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/php-email-form/validate.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/aos/aos.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/typeitjs/typeitjs.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/count-me/count-me.js"></script>

    <!-- Main JS File -->
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  </body>
</html>
